*.i
*.o
*.d
*.elf
*.diss
*.dasm
*.map
*.bin
*.log
*.hex
.vscode

software/*/*.s

*.dump
*.verilog

*.swp
*.swo

prebuilt_tools/
setup_config.sh
setup_config.bat
setup_config.ps1

tags
TAGS
TAG
CTAGS
*_examples
*_labs
Makefile.local
Makefile.global

doc/build/
_build
