*.i*
*.o*
*.d*
*.elf*
*.diss*
*.dasm*
*.map*
*.bin*
*.log*
*.hex*
*.srec*
*.zip
*.pyc
.vscode

software/*/*.s

*.dump*
*.verilog*

*.swp*
*.swo*

prebuilt_tools/
setup_config.sh
setup_config.bat
setup_config.ps1

tags
ctags
TAGS
TAG
CTAGS
*_examples
*_labs
Makefile.local
Makefile.global

doc/build/
_build
__pycache__
*.pyc
logs*

gen/
tmp*/
Scratch*
scratch*
bitstream*
Backup*

usb_info.json
fpga_runner.yaml
*.back*
